
/* ######################################################### */
/* ************* */
/* * VARIABLES * */
/* ************* */

:root
{
    /* ----------------------------------------------------- */
    /* Body variables */
    --body_backgroundTopColor    : rgba(10, 7, 14, 1);
    --body_backgroundBottomColor : rgba(29, 19, 92, 1);

    /* Header variables */
    --header_height              : 6rem;
    --header_width               : 160px;
    --header_backgroundColor     : white;

    --menuItem_hoverColor        : rgb(255, 212, 42);
    --menuItem_width             : 100px;
    --menuItem_lineHeight        : 4px;
    --menuItem_transitionTime    : 0.3s;

    /* Main variables */
    --Main_backgroundColor       : rgb(220, 220, 220);

    /* Index.html */
    --mainPaddingSize            : 6rem;
    --slideShow_animationTime    : 30s;

    /* Footer variables */
    --footer_height              : 24rem;
    --logo_transitionTime        : 0.2s;
    /* ----------------------------------------------------- */
}
/* ######################################################### */

/* ######################################################### */
/* ************ */
/* * BASE WEB * */
/* ************ */

*
{
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    scroll-behavior: smooth;
    font-family    : Arial, Helvetica, sans-serif;
}
/* ######################################################### */

/* ######################################################### */
/* ******** */
/* * BODY * */
/* ******** */

body
{
    background           : linear-gradient(to bottom, var(--body_backgroundTopColor), var(--body_backgroundBottomColor));
    background-attachment: fixed;
}
/* ######################################################### */

/* ######################################################### */
/* ********** */
/* * HEADER * */
/* ********** */

/* ========================================================= */
/* TOP MENU */

header
{
    position: sticky;
    top     : 0;
    z-index : 9999;
}

#menu
{
    position       : relative;
    z-index        : 10;

    height         : var(--header_height);
    width          : 100%;

    display        : flex;
    justify-content: space-around;
}

#menu div
{
    height  : 100%;
    width   : var(--header_width);
    padding : 10px;

    position: relative
}

#menu .headerBackground
{
    position        : absolute;
    z-index         : 1;

    background-color: var(--header_backgroundColor);
    width           : 100%;
}

.menuButton
{
    display: none;
    z-index: 2;
}

.menuButton img
{
    width  : 50px;
    height : 50px;
}

#menu a
{
    text-decoration: none;
}

/* --------------------------------------------------------- */
/* MENU LOGO */

#menu div img
{
    position  : relative;
    z-index   : 10;

    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);

    max-height: 100%;
    max-width : 100%;
    object-fit: contain;
}
/* --------------------------------------------------------- */

/* --------------------------------------------------------- */
/* MENU ITEMS */

#menu .menu_flex
{
    z-index         : 2;

    height          : 100%;
    
    list-style      : none;
    
    display         : flex;
    justify-content : center;
    align-items     : center;
    gap             : 10px;
}

/* -------------------------------------------------- */
/* Show Menu Flex when resolution is low */
#menu .menu_flex.showMenuFlex {
    top: 15em;
}
/* -------------------------------------------------- */

#menu .menu_flex li
{
    height: 100%;
    width : var(--menuItem_width);
}

#menu .menu_flex a
{
    color          : var(--body_backgroundTopColor);
    font-weight    : bold;

    display        : flex;
    align-items    : center;
    justify-content: center;

    height         : 100%;
    position       : relative;

    transition     : color var(--menuItem_transitionTime);
}

/* -------------------------------------------------- */
/* Menu item lines */
/* #menu .menu_flex a::before, */
#menu .menu_flex a::after
{
    content         : "";
    position        : absolute;
    left            : 50%;
    width           : 0%;
    height          : var(--menuItem_lineHeight);
    background-color: var(--menuItem_hoverColor);

    transform       : translateX(-50%);
    transform-origin: center;
    
    transition      : width var(--menuItem_transitionTime) ease-in-out;
}

/* #menu .menu_flex a::before
{
    top: 0;
} */

#menu .menu_flex a::after
{
    bottom: 0;
}
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* Menu item Hover */
#menu .menu_flex a.hover_menuItem
{
    color: var(--menuItem_hoverColor);
}

#menu .menu_flex a.hover_menuItem::before,
#menu .menu_flex a.hover_menuItem::after
{
    width: 100%;
}
/* -------------------------------------------------- */
/* --------------------------------------------------------- */

/* --------------------------------------------------------- */
/* MENU SUSCRIBE BUTTON */

.suscribeButton
{
    box-shadow      : 0px 0px 0px 3px var(--body_backgroundTopColor);
	background-color:var(--body_backgroundTopColor);
	border-radius   :42px;
	display         :inline-block;
	cursor          :pointer;
	color           :var(--header_backgroundColor);
	font-family     :Arial;
	font-size       :20px;
	padding         :10px 30px;
	text-decoration :none;

    position        : absolute;
    z-index         : 2;

    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);

    max-height      : calc(100% - 20px);
    max-width       : calc(100% - 20px);
    object-fit      : contain;

    transition      : var(--menuItem_transitionTime) ease-in-out;
}

.suscribeButton.hover_suscribeButton
{
	background-color: var(--header_backgroundColor);
    color           : var(--body_backgroundBottomColor);
}

/* --------------------------------------------------------- */

/* --------------------------------------------------------- */
/* MENU SUSCRIBE */

.suscribeForm
{
    display         : none;
    overflow        : hidden;

    position        : absolute;
    transform       : translate(-50%, -100%);
    left            : 50%;
    top             : 0;

    background-color: var(--header_backgroundColor);
    height          : 16rem;
    max-width       : 480px;

    padding         : 40px;
    margin          : 0 auto;

    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    gap             : 25px;

    transition: var(--menuItem_transitionTime) ease;
}

.suscribeForm.showMenuSuscribe
{
    display: flex;
    top    : 22rem;
}

.suscribeForm .suscribeEmailText_input,
.suscribeForm .passwordText_input
{
    color           : var(--body_backgroundBottomColor);
    font-family     : Arial, Helvetica, sans-serif;
    font-weight     : 500;
    font-size       : 16px;
    border-radius   : 6px;
    line-height     : 22px;
    background-color: transparent;
    border          : 2px solid var(--body_backgroundBottomColor);
    transition      : all 0.3s;
    padding         : 6px;
    width           : 100%;
    box-sizing      : border-box;
    outline         : 0;
}

.suscribeForm .input_focus
{
    border: 2px solid var(--menuItem_hoverColor);
}

.logInButton
{
    box-shadow       : 0px 0px 0px 3px var(--body_backgroundTopColor);
	background-color : var(--body_backgroundTopColor);
	border-radius    : 42px;
	display          : inline-block;
	cursor           : pointer;
	color            : var(--header_backgroundColor);
	font-family      : Arial;
	font-size        : 20px;
	padding          : 10px 30px;
	text-decoration  : none;

    max-height       : calc(100% - 20px);
    max-width        : calc(100% - 20px);
    object-fit       : contain;

    transition       : var(--menuItem_transitionTime) ease-in-out;
}

.logInButton.hover_logInButton
{
	background-color : var(--header_backgroundColor);
    color            : var(--body_backgroundBottomColor);
}
/* --------------------------------------------------------- */
/* ========================================================= */
/* ######################################################### */



/* ######################################################### */
/* ******** */
/* * MAIN * */
/* ******** */

.mainIndex
{
    padding: var(--mainPaddingSize) 0;

    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    gap            : 1rem;

    overflow       : hidden;
}

.infiniteSlideShow
{
    white-space: nowrap;
}

.infiniteSlideShow_left
{
    display  : inline-block;
    animation: var(--slideShow_animationTime) slideRightLeft infinite linear;
}

.infiniteSlideShow_right
{
    display  : inline-block;
    animation: var(--slideShow_animationTime) slideLeftRight infinite linear;
}

.infiniteSlideShow_left.stopAnimation,
.infiniteSlideShow_right.stopAnimation
{
    animation-play-state: paused;
}

.infiniteSlideShow_left img,
.infiniteSlideShow_right img
{
    position  : relative;
    transition: var(--logo_transitionTime) ease-in-out;
}

.infiniteSlideShow_left img.hoverSlideShowImg,
.infiniteSlideShow_right img.hoverSlideShowImg
{
    transform: scale(1.1);
}

.image-container
{
    position     : relative;
    display      : inline-block;
    border-radius: 30px;
    overflow     : hidden;
    width        : 300px;
    height       : 300px;
}

.image-container img
{
    display      : block;
    height       : 100%;
    width        : 100%;
    object-fit   : cover;
    border-radius: 30px;
    transition   : transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
}

.overlay
{
    position        : absolute;
    top             : 0;
    left            : 0;
    right           : 0;
    bottom          : 0;
    background-color: rgba(0, 0, 0, 0.5);
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    opacity         : 0;
    visibility      : hidden;
    transition      : opacity 0.3s ease, visibility 0.3s ease;
    white-space     : wrap;
    text-align      : center;
}

.overlay p
{
    color     : var(--header_backgroundColor);
    margin    : 5px 0;
    text-align: center;
    font-size : 1.2rem;
}

.overlay h2
{
    color     : var(--header_backgroundColor);
    font-size : 2rem;
}

.image-container.hoverSlideShowImg .overlay
{
    opacity   : 1;
    visibility: visible;
}

.image-container.hoverSlideShowImg img
{
    opacity  : 0.7;
    transform: scale(1.1);
}

.image-container img
{
    object-fit: cover;
}

.infiniteSlideShow_left img,
.infiniteSlideShow_right img
{
    position  : relative;
    margin    : 0 10px;
    transition: var(--logo_transitionTime) ease-in-out;
}

@keyframes slideRightLeft
{
    from {
        transform: translateX(50%);
    }
    to {
        transform: translate(-50%);
    }
}

@keyframes slideLeftRight
{
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translate(50%);
    }
}
/* ######################################################### */



/* ######################################################### */
/* ********** */
/* * FOOTER * */
/* ********** */

footer
{
    background-color: var(--menuItem_hoverColor);
    height          : var(--footer_height);

    display         : flex;
    justify-content : center;
    align-items     : baseline;
    gap             : 20%;

    padding         : 20px;

    color: var(--body_backgroundBottomColor);
    flex-shrink: 0;
    /* position: relative; */
}

footer h1
{
    font-size: 1.5em;
}

footer h2
{
    font-size: 1em;
}

footer .footerLeft
{
    display        : flex;
    flex-direction : column;
    justify-content: center;
    gap            : 40px;
}

footer .footerLeft .footerLeftInfo
{
    display        : flex;
    justify-content: center;
    align-items    : baseline;
    gap            : 100px;
}

/* ========================================================= */
/* SOCIAL MEDIA*/

footer .socialMedia
{
    display        : flex;
    flex-direction : column;
    justify-content: center;
    gap            : 30px;
    align-items    : center;
}

/* --------------------------------------------------------- */
/* Social Media logos*/

footer .socialMedia .socialMedia_logos
{
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    gap            : 40px;

    width          : 100%;
    max-width      : 200px;
}

footer .socialMedia a
{
    display        : flex;
    justify-content: center;
    align-items    : center;
}

footer .socialMedia a img
{
    max-width : 40px;
    max-height: 40px;
    object-fit: contain;
    transition: var(--logo_transitionTime) ease-in-out;
}

footer .socialMedia a img.hover_socialMediaLogo
{
    transform: scale(1.2);
}
/* --------------------------------------------------------- */
/* ========================================================= */

/* ========================================================= */
/* POLICY */

footer .policy
{
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    gap            : 20px;
}
/* ========================================================= */

/* ========================================================= */
/* LOCATION */

footer .footerLeft .footerLeftLocation
{
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    gap            : 10px;
}
/* ========================================================= */

/* ========================================================= */
/* COPYRIGHT */

.footer-divider
{
    border          : 0;
    height          : 2px;
    background-color: var(--body_backgroundBottomColor);
}

footer .copyright
{
    text-align: center;
    color     : var(--body_backgroundBottomColor);
    font-size : 14px;
    padding   : 10px 0;
}
/* ========================================================= */

/* ========================================================= */
/* CONTACT US */

footer .contactUs
{
    display        : flex;
    flex-direction : column;
    justify-content: center;
    gap            : 20px;
    align-items    : center;
}

/* --------------------------------------------------------- */
/* Form */
footer .contactUs .contactUs_form
{
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    gap            :10px;
}
/* --------------------------------------------------------- */

/* --------------------------------------------------------- */
/* Form's fields */
footer .contactUs .contactUs_form .nameText_input,
footer .contactUs .contactUs_form .emailText_input,
footer .contactUs .contactUs_form .messageText_input
{
    color           : var(--body_backgroundBottomColor);
    font-family     : Arial, Helvetica, sans-serif;
    font-weight     : 500;
    font-size       : 16px;
    border-radius   : 6px;
    line-height     : 22px;
    background-color: transparent;
    border          : 2px solid var(--body_backgroundBottomColor);
    transition      : all 0.3s;
    padding         : 6px;
    width           : 150%;
    box-sizing      : border-box;
    outline         : 0;
}

footer .contactUs .contactUs_form .input_focus
{
    border: 2px solid var(--header_backgroundColor);
}

.contactUs_form textarea
{
    height     : 150px;
    line-height: 150%;
    resize     : vertical;
}
/* --------------------------------------------------------- */

/* --------------------------------------------------------- */
/* Form's Send Message Button */
.sendMessageButton
{
    box-shadow      : 0px 0px 0px 3px var(--body_backgroundBottomColor);
	background-color:var(--body_backgroundBottomColor);
	border-radius   :42px;
	display         :inline-block;
	cursor          :pointer;
	color           :var(--header_backgroundColor);
	font-family     :Arial;
	font-size       :20px;
	padding         :10px 30px;
	text-decoration :none;

    transition      : var(--menuItem_transitionTime) ease-in-out;
}

.sendMessageButton.hover_sendMessageButton
{
	background-color: var(--menuItem_hoverColor);
    color           : var(--body_backgroundBottomColor);
}
/* --------------------------------------------------------- */
/* ========================================================= */
/* ######################################################### */

/* ######################################################### */
/* *************** */
/* * MEDIA QUERY * */
/* *************** */

@media screen and (max-width: 965px)
{
    footer
    {
        height        : auto;
        padding       : 20px 0;

        flex-direction: column-reverse;
        align-items   : center;
        gap           : 40px;
    }
    /* .item 
    {
        font-size: 10px;
    }
    main h2
    {
        font-size: 35px;
    } */
}

@media screen and (max-width: 768px)
{
    #menu
    {
        justify-content : space-between;
    }
    
    #menu .menu_flex
    {
        flex-direction  : column;
        align-items     : center;
        gap             : 20px;
        background-color: var(--header_backgroundColor);

        position        : absolute;
        z-index         : 0;

        width           : 480px;
        height          : 18em;

        transform: translate(-50%, -50%);
        top             : -150%;
        left            : 50%;
        padding         : 20px;
        transition      : var(--logo_transitionTime);
    }

    .menuButton
    {
        display: block;
        cursor : pointer;
    }
    /* .item 
    {
        font-size: 8px;
    } */

}

@media screen and (max-width: 480px)
{
    footer .footerLeft .footerLeftInfo
    {
        flex-direction: column;
        align-items   : center;
        gap           : 40px;
    }

    #menu .menu_flex
    {
        width           : 100%;
    }

    .suscribeForm
    {
        max-width: 100%;
    }
}
/* ######################################################### */

.main-container 
{ 
    display        : flex; 
    justify-content: center; 
}

main h2
{
    font-size    : 40px;
    margin-bottom: 25px;
}

.main-content
{
    flex            : 1;
    margin          : 10px;
    padding         : 1%; 
    border-radius   : 8px;
    background-color: var(--Main_backgroundColor);
}

.sidebar 
{
    top     : var(--header_height);
    width   : 15%;
    height  : calc(100vh - var(--header_height));
    margin  : 10px;
    z-index : -1;
    padding : 1rem;
    position: sticky;
    border-radius   : 8px;
    background-color: var(--Main_backgroundColor);
}

.vertical-box 
{
    margin-bottom: 20px;
}

.vertical-box img 
{
    width : 100%;
    height: auto;
}

.item 
{
    cursor         : pointer;
    font-size      : 20px;
    list-style     : none;
    margin-bottom  : 15px;
    text-decoration: underline;
}

.custom-list {
    list-style: none;
    padding-left: 200px
}

.list-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
}

.number {
    font-size: 2em;
    font-weight: bold;
    margin-right: 100px;
}

.content {
    max-width: 600px;
}

.title {
    margin: 0 0 10px 0;
    font-size: 1.5em;
}



