
/* ######################################################### */
/* ************* */
/* * VARIABLES * */
/* ************* */

:root
{
    /* ----------------------------------------------------- */
    /* Body variables */
    --body_backgroundTopColor     : rgba(10, 7, 14, 1);
    --body_backgroundBottomColor  : rgba(29, 19, 92, 1);

    /* Header variables */
    --header_height               : 6rem;
    --header_width                : 160px;
    --header_backgroundColor      : white;

    --menuItem_hoverColor         : rgb(255, 212, 42);
    --menuItem_width              : 100px;
    --menuItem_lineHeight         : 4px;
    --menuItem_transitionTime     : 0.3s;

    /* Footer variables */
    --footer_height               : 24rem;
    --logo_transitionTime         : 0.2s;
    /* ----------------------------------------------------- */
}
/* ######################################################### */

/* ######################################################### */
/* ************ */
/* * BASE WEB * */
/* ************ */

*
{
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    scroll-behavior: smooth;
    font-family    : Arial, Helvetica, sans-serif;
}
/* ######################################################### */

/* ######################################################### */
/* ******** */
/* * BODY * */
/* ******** */

body
{
    background: linear-gradient(to bottom, var(--body_backgroundTopColor), var(--body_backgroundBottomColor));
    height: 100vh;

    display: flex;
    flex-direction: column;

}
/* ######################################################### */

/* ######################################################### */
/* ********** */
/* * HEADER * */
/* ********** */

/* ========================================================= */
/* TOP MENU */

#menu
{
    background-color: white;
    height          : var(--header_height);

    display         : flex;
    justify-content : space-around;
}

#menu div
{
    height  : 100%;
    width   : var(--header_width);
    padding : 10px;

    position: relative
}

.menuButton
{
    display: none;
}

.menuButton img
{
    width  : 50px;
    height : 50px;
}

#menu a
{
    text-decoration: none;
}

/* --------------------------------------------------------- */
/* MENU LOGO */

#menu div img
{
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);

    max-height: calc(100% - 20px);
    max-width : calc(100% - 20px);
    object-fit: contain;
}
/* --------------------------------------------------------- */

/* --------------------------------------------------------- */
/* MENU ITEMS */

#menu .menu_flex
{
    height  : 100%;
    
    list-style      : none;
    
    display         : flex;
    justify-content : center;
    align-items     : center;
    gap             : 10px;
}

/* -------------------------------------------------- */
/* Show Menu Flex when resolution is low */
#menu .menu_flex.showMenuFlex {
    top: 0;
}
/* -------------------------------------------------- */

#menu .menu_flex li
{
    height: 100%;
    width : var(--menuItem_width);
}

#menu .menu_flex a
{
    color          : var(--body_backgroundTopColor);
    font-weight    : bold;

    display        : flex;
    align-items    : center;
    justify-content: center;

    height         : 100%;
    position       : relative;

    transition     : color var(--menuItem_transitionTime);
}

/* -------------------------------------------------- */
/* Menu item lines */
/* #menu .menu_flex a::before, */
#menu .menu_flex a::after
{
    content         : "";
    position        : absolute;
    left            : 50%;
    width           : 0%;
    height          : var(--menuItem_lineHeight);
    background-color: var(--menuItem_hoverColor);

    transform       : translateX(-50%);
    transform-origin: center;
    
    transition      : width var(--menuItem_transitionTime) ease-in-out;
}

/* #menu .menu_flex a::before
{
    top: 0;
} */

#menu .menu_flex a::after
{
    bottom: 0;
}
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* Menu item Hover */
#menu .menu_flex a.hover_menuItem
{
    color: var(--menuItem_hoverColor);
}

#menu .menu_flex a.hover_menuItem::before,
#menu .menu_flex a.hover_menuItem::after
{
    width: 100%;
}
/* -------------------------------------------------- */
/* --------------------------------------------------------- */

/* --------------------------------------------------------- */
/* MENU SUSCRIBE BUTTON */

.suscribeButton
{
    box-shadow      : 0px 0px 0px 3px var(--body_backgroundTopColor);
	background-color:var(--body_backgroundTopColor);
	border-radius   :42px;
	display         :inline-block;
	cursor          :pointer;
	color           :var(--header_backgroundColor);
	font-family     :Arial;
	font-size       :20px;
	padding         :10px 30px;
	text-decoration :none;

    position        : absolute;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);

    max-height      : calc(100% - 20px);
    max-width       : calc(100% - 20px);
    object-fit      : contain;

    transition      : var(--menuItem_transitionTime) ease-in-out;
}

.suscribeButton.hover_suscribeButton
{
	background-color: var(--header_backgroundColor);
    color           : var(--body_backgroundBottomColor);
}

/* --------------------------------------------------------- */

/* --------------------------------------------------------- */
/* MENU SUSCRIBE */

.suscribeForm
{
    display         : none;
    overflow        : hidden;

    background-color: white;
    height          : 0;
    max-width       : 480px;

    padding         : 0 10px;
    margin          : 0 auto;

    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    gap             : 15px;

    transition: height var(--menuItem_transitionTime), padding var(--menuItem_transitionTime) ease;
}

.suscribeForm.showMenuSuscribe
{
    display: flex;
    height : 200px;
    padding: 40px;
}

.suscribeForm .suscribeEmailText_input,
.suscribeForm .passwordText_input
{
    color           : var(--body_backgroundBottomColor);
    font-family     : Arial, Helvetica, sans-serif;
    font-weight     : 500;
    font-size       : 16px;
    border-radius   : 6px;
    line-height     : 22px;
    background-color: transparent;
    border          : 2px solid var(--body_backgroundBottomColor);
    transition      : all 0.3s;
    padding         : 6px;
    width           : 100%;
    box-sizing      : border-box;
    outline         : 0;
}

.suscribeForm .input_focus
{
    border: 2px solid var(--header_backgroundColor);
}

.logInButton
{
    box-shadow      : 0px 0px 0px 3px var(--body_backgroundTopColor);
	background-color:var(--body_backgroundTopColor);
	border-radius   :42px;
	display         :inline-block;
	cursor          :pointer;
	color           :var(--header_backgroundColor);
	font-family     :Arial;
	font-size       :20px;
	padding         :10px 30px;
	text-decoration :none;

    max-height      : calc(100% - 20px);
    max-width       : calc(100% - 20px);
    object-fit      : contain;

    transition      : var(--menuItem_transitionTime) ease-in-out;
}

.logInButton.hover_logInButton
{
	background-color: var(--header_backgroundColor);
    color           : var(--body_backgroundBottomColor);
}
/* --------------------------------------------------------- */
/* ========================================================= */
/* ######################################################### */

/* ######################################################### */
/* ******** */
/* * MAIN * */
/* ******** */

main
{
    flex-grow: 1;
}
/* ######################################################### */

/* ######################################################### */
/* ********** */
/* * FOOTER * */
/* ********** */

footer
{
    background-color: var(--menuItem_hoverColor);
    height          : var(--footer_height);

    display         : flex;
    justify-content : center;
    align-items     : baseline;
    gap: 20%;

    padding         : 20px;

    color: var(--body_backgroundBottomColor);
}

footer h1
{
    font-size: 1.5em;
}

footer h2
{
    font-size: 1em;
}

footer .footerLeft
{
    display        : flex;
    flex-direction : column;
    justify-content: center;
    gap            : 40px;
}

footer .footerLeft .footerLeftInfo
{
    display        : flex;
    justify-content: center;
    align-items    : baseline;
    gap            : 100px;
}

/* ========================================================= */
/* SOCIAL MEDIA*/

footer .socialMedia
{
    display        : flex;
    flex-direction : column;
    justify-content: center;
    gap            : 30px;
    align-items    : center;
}

/* --------------------------------------------------------- */
/* Social Media logos*/

footer .socialMedia .socialMedia_logos
{
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    gap            : 40px;

    width          : 100%;
    max-width      : 200px;
}

footer .socialMedia a
{
    display        : flex;
    justify-content: center;
    align-items    : center;
}

footer .socialMedia a img
{
    max-width : 40px;
    max-height: 40px;
    object-fit: contain;
    transition: var(--logo_transitionTime) ease-in-out;
}

footer .socialMedia a img.hover_socialMediaLogo
{
    transform: scale(1.2);
}
/* --------------------------------------------------------- */
/* ========================================================= */

/* ========================================================= */
/* POLICY */

footer .policy
{
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    gap            : 20px;
}
/* ========================================================= */

/* ========================================================= */
/* LOCATION */

footer .footerLeft .footerLeftLocation
{
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    gap            : 10px;
}
/* ========================================================= */

/* ========================================================= */
/* COPYRIGHT */

.footer-divider
{
    border          : 0;
    height          : 2px;
    background-color: var(--body_backgroundBottomColor);
}

footer .copyright
{
    text-align: center;
    color     : var(--body_backgroundBottomColor);
    font-size : 14px;
    padding   : 10px 0;
}
/* ========================================================= */

/* ========================================================= */
/* CONTACT US */

footer .contactUs
{
    display        : flex;
    flex-direction : column;
    justify-content: center;
    gap            : 20px;
    align-items    : center;
}

/* --------------------------------------------------------- */
/* Form */
footer .contactUs .contactUs_form
{
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    gap            :10px;
}
/* --------------------------------------------------------- */

/* --------------------------------------------------------- */
/* Form's fields */
footer .contactUs .contactUs_form .nameText_input,
footer .contactUs .contactUs_form .emailText_input,
footer .contactUs .contactUs_form .messageText_input
{
    color           : var(--body_backgroundBottomColor);
    font-family     : Arial, Helvetica, sans-serif;
    font-weight     : 500;
    font-size       : 16px;
    border-radius   : 6px;
    line-height     : 22px;
    background-color: transparent;
    border          : 2px solid var(--body_backgroundBottomColor);
    transition      : all 0.3s;
    padding         : 6px;
    width           : 150%;
    box-sizing      : border-box;
    outline         : 0;
}

footer .contactUs .contactUs_form .input_focus
{
    border: 2px solid var(--header_backgroundColor);
}

.contactUs_form textarea
{
    height     : 150px;
    line-height: 150%;
    resize     : vertical;
}
/* --------------------------------------------------------- */

/* --------------------------------------------------------- */
/* Form's Send Message Button */
.sendMessageButton
{
    box-shadow      : 0px 0px 0px 3px var(--body_backgroundBottomColor);
	background-color:var(--body_backgroundBottomColor);
	border-radius   :42px;
	display         :inline-block;
	cursor          :pointer;
	color           :var(--header_backgroundColor);
	font-family     :Arial;
	font-size       :20px;
	padding         :10px 30px;
	text-decoration :none;

    transition      : var(--menuItem_transitionTime) ease-in-out;
}

.sendMessageButton.hover_sendMessageButton
{
	background-color: var(--menuItem_hoverColor);
    color           : var(--body_backgroundBottomColor);
}
/* --------------------------------------------------------- */
/* ========================================================= */
/* ######################################################### */

/* ######################################################### */
/* *************** */
/* * MEDIA QUERY * */
/* *************** */

@media screen and (max-width: 965px)
{
    footer
    {
        height        : auto;
        padding       : 20px 0;

        flex-direction: column-reverse;
        align-items   : center;
        gap           : 40px;
    }
}

@media screen and (max-width: 768px)
{
    #menu
    {
        justify-content : space-between;
    }
    
    #menu .menu_flex
    {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: var(--header_backgroundColor);

        position: fixed;
        width: 100%;
        height: 50vh;
        top: -100%;
        left: 0;
        padding: 50px;
        transition: var(--logo_transitionTime);
    }

    .menuButton
    {
        display: block;
        cursor : pointer;
    }
}

@media screen and (max-width: 480px)
{
    footer .footerLeft .footerLeftInfo
    {
        flex-direction: column;
        align-items   : center;
        gap           : 40px;
    }

    .suscribeForm
    {
        max-width: 100%;
    }
}
/* ######################################################### */
